@font-face {
  font-family: 'Circular';
  font-weight: normal;
  src: url('circular-book.otf');
}

@font-face {
  font-family: 'Circular';
  font-weight: bold;
  src: url('circular-bold.otf');
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: normal;
  src: url('PlayfairDisplay-Regular.ttf');
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: bold;
  src: url('PlayfairDisplay-Bold.ttf');
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Circular';
  background: #0D0D0D;
}

#wrapper {
  margin-left: 2em;
  margin-right: 2em;
/*  background: #1C1C1D;*/
}

#main {
  padding: 4em 0em;
}

#logo {
  margin: 0 auto;
}

#logo, #logo img {
  width: 8em;
  opacity: 0.8;
}

#contact {
  width: 20%;
  margin: 3em 0 2em 0;
  padding: 0.5em 0;
  min-width: 140px; 
  text-align: center;
  margin-left: auto;
  border-radius: 5px;
  text-transform: uppercase;
  background: #141414;
  letter-spacing: 2px;
    font-weight: bold;
}

#contact a {
  text-decoration: none;
  color: #747474;
}

#items .item {
  overflow: hidden;
    position: relative;
  width: 100%;
    margin-bottom: 20px;
    padding-bottom: 40px;
}

#items .item .meta {
  display: flex;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.3);
  font-family: 'Circular';
    padding-top: 20px;
    padding-right: 20px;
    z-index: 2;
}

#items .item .meta .category {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

#items .item .meta .date {
  margin-left: auto;
    z-index: 2;
}

#items .item .content {
  display: flex;
    padding-left: 0px;
    padding-right: 20px;
/*  overflow: hidden;*/
}

#items .item .content h2.title, #items .item .content h2.title a {
  margin: 0em 0 -0.5em 0;
  font-family: 'Playfair Display';
  font-weight: bold;
  font-size: 30px;
  width: 50%;
  color: rgba(228, 228, 228, 0.9);
    z-index: 2;
}


#items .item .content p.summary {
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 0.4px;
  width: 50%;
  max-width: 50%;
  font-size: 14px;
  text-align: right;
  margin-left: 14px;
    margin-top: 4px;
    z-index: 2;
}

#items .item .extra {
  display: flex;
    padding-top: 0px;
    padding-right: 20px;
/*  overflow: hidden;*/
}

#items .item .extra a.more {
  color: rgba(255, 255, 255, 0.3);
  letter-spacing: 0.4px;
  width: 100%;
  font-size: 14px;
    font-weight: bold;
  text-align: right;
  margin-left: 14px;
    margin-top: 4px;
    text-decoration: none;
    z-index: 2;
}



#items .item .block {
    background-color: #181818;
    height: 100%;
    width: 70%;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 6px;
    z-index: 1;
}

/* Desktops */
@media screen and (min-width: 1024px) {
  #wrapper {
    margin: 0 18% 0 18%;
  }
}